.splash-page {
  background-color: #000;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;

  text-decoration: none;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.logo-ai {
  color: #F77052;  
}

.tagline {
  margin-top: 1rem;
  font-size: 1.125rem;
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

